@import
"../../colorscheme/sass/colorscheme",
"../../colorscheme/sass/colorscheme-extended",
"modules/range-slider";

html,
body {
  height: 100%;
  background: $purple;
}

body {
  font: 100%/1.5 sans-serif;
  margin: 0;
  padding: 2em;
}

svg {
  min-width: 2em;
  max-width: 16em;
}

.container {
  clear: both;
  margin: 0 auto;
  overflow: auto;
  // max-width: 120em;
}

.container-slider {
  position: relative;
  height: 3em;
  margin-bottom: 1em;
}

$white : hsl(0,100%,100%);
// $white
// $base00: hsl(342, 8%, 15%);
// $yellow: hsl(52, 45%, 50%);
// $base01: hsl(342,8%,25%)
// $light_orange;
// $green;

.domready .bg-rect rect,
.domready .inner-c path {
  animation: fromBgWhite 12s infinite;
}

.domready .bg-circle-big-1 circle,
.domready .bg-polygon polygon {
  animation: fromBgLightOrange 12s infinite;
}

.domready .bg-circle-big-2 circle {
  animation: fromBgBase01 12s infinite;
}

.domready .outer-c path {
  animation: fromBgGreen 12s infinite;
}

.domready .bg-circle-small circle {
  animation: fromBgBase00 12s infinite;
}

.domready .middle-c path {
  animation: fromBgYellow 12s infinite;
}

.domready .inner-c {
  animation: fromBgWhite 12s infinite;
}

@keyframes fromBgWhite {
  0% {
    fill: $white;
  }
  16.5% {
    fill: $white;
  }

  16.6% {
    fill: $light_orange;
  }
  33.2% {
    fill: $light_orange;
  }

  33.3% {
    fill: $yellow;
  }
  49.9% {
    fill: $yellow;
  }

  50% {
    fill: $green;
  }
  66% {
    fill: $green;
  }

  66.6% {
    fill: $base01;
  }
  83.2% {
    fill: $base01;
  }

  83.3% {
    fill: $base00;
  }
  99.9% {
    fill: $base00;
  }
}

@keyframes fromBgLightOrange {
  0% {
    fill: $light_orange;
  }
  16.5% {
    fill: $light_orange;
  }

  16.6% {
    fill: $yellow;
  }
  33.2% {
    fill: $yellow;
  }

  33.3% {
    fill: $green;
  }
  49.9% {
    fill: $green;
  }

  50% {
    fill: $base01;
  }
  66% {
    fill: $base01;
  }

  66.6% {
    fill: $base00;
  }
  83.2% {
    fill: $base00;
  }

  83.3% {
    fill: $white;
  }
  99.9% {
    fill: $white;
  }
}

@keyframes fromBgYellow {
  0% {
    fill: $yellow;
  }
  16.5% {
    fill: $yellow;
  }

  16.6% {
    fill: $green;
  }
  33.2% {
    fill: $green;
  }

  33.3% {
    fill: $base01;
  }
  49.9% {
    fill: $base01;
  }

  50% {
    fill: $base00;
  }
  66% {
    fill: $base00;
  }

  66.6% {
    fill: $white;
  }
  83.2% {
    fill: $white;
  }

  83.3% {
    fill: $light_orange;
  }
  99.9% {
    fill: $light_orange;
  }
}

@keyframes fromBgGreen {
  0% {
    fill: $green;
  }
  16.5% {
    fill: $green;
  }

  16.6% {
    fill: $base01;
  }
  33.2% {
    fill: $base01;
  }

  33.3% {
    fill: $base00;
  }
  49.9% {
    fill: $base00;
  }

  50% {
    fill: $white;
  }
  66% {
    fill: $white;
  }

  66.6% {
    fill: $light_orange;
  }
  83.2% {
    fill: $light_orange;
  }

  83.3% {
    fill: $yellow;
  }
  99.9% {
    fill: $yellow;
  }
}

@keyframes fromBgBase01 {
  0% {
    fill: $base01;
  }
  16.5% {
    fill: $base01;
  }

  16.6% {
    fill: $base00;
  }
  33.2% {
    fill: $base00;
  }

  33.3% {
    fill: $white;
  }
  49.9% {
    fill: $white;
  }

  50% {
    fill: $light_orange;
  }
  66% {
    fill: $light_orange;
  }

  66.6% {
    fill: $yellow;
  }
  83.2% {
    fill: $yellow;
  }

  83.3% {
    fill: $green;
  }
  99.9% {
    fill: $green;
  }
}

@keyframes fromBgBase00 {
  0% {
    fill: $base00;
  }
  16.5% {
    fill: $base00;
  }

  16.6% {
    fill: $white;
  }
  33.2% {
    fill: $white;
  }

  33.3% {
    fill: $light_orange;
  }
  49.9% {
    fill: $light_orange;
  }

  50% {
    fill: $yellow;
  }
  66% {
    fill: $yellow;
  }

  66.6% {
    fill: $green;
  }
  83.2% {
    fill: $green;
  }

  83.3% {
    fill: $base01;
  }
  99.9% {
    fill: $base01;
  }
}
