$base00: hsl(342, 8%, 15%);
$base01: hsl(342, 8%, 25%);
$base02: hsl(342, 6%, 45%);
$base03: hsl(342, 5%, 50%);
$base04: hsl(342, 4%, 59%);
$base05: hsl(342, 6%, 65%);
$base06: hsl(342, 20%, 91%);
$base07: hsl(342, 90%, 98%);
$base08: hsl(342, 50%, 55%);
$base09: hsl(32, 47%, 47%);
$base0A: hsl(52, 45%, 50%);
$base0B: hsl(112, 45%, 39%);
$base0C: hsl(162, 45%, 36%);
$base0D: hsl(212, 45%, 45%);
$base0E: hsl(242, 30%, 50%);
$base0F: hsl(312, 40%, 50%);

$red:     $base08;
$orange:  $base09;
$yellow:  $base0A;
$green:   $base0B;
$cyan:    $base0C;
$blue:    $base0D;
$violet:  $base0E;
$magenta: $base0F;
 
