/* line 140, ../sass/style.scss */
.base00 {
  color: #292325;
}

/* line 141, ../sass/style.scss */
.base01 {
  color: #453b3e;
}

/* line 142, ../sass/style.scss */
.base02 {
  color: #7a6c70;
}

/* line 143, ../sass/style.scss */
.base03 {
  color: #86797d;
}

/* line 144, ../sass/style.scss */
.base04 {
  color: #9b9295;
}

/* line 145, ../sass/style.scss */
.base05 {
  color: #aba0a4;
}

/* line 146, ../sass/style.scss */
.base06 {
  color: #ede3e6;
}

/* line 147, ../sass/style.scss */
.base07 {
  color: #fef5f8;
}

/* line 148, ../sass/style.scss */
.base08,
.red {
  color: #c65375;
}

/* line 150, ../sass/style.scss */
.base09,
.orange {
  color: #b07c40;
}

/* line 152, ../sass/style.scss */
.base0A,
.yellow {
  color: #b9aa46;
}

/* line 154, ../sass/style.scss */
.base0B,
.green {
  color: #439037;
}

/* line 156, ../sass/style.scss */
.base0C,
.cyan {
  color: #32856c;
}

/* line 158, ../sass/style.scss */
.base0D,
.blue {
  color: #3f6fa6;
}

/* line 160, ../sass/style.scss */
.base0E,
.violet {
  color: #5c59a6;
}

/* line 162, ../sass/style.scss */
.base0F,
.magenta {
  color: #b34d9e;
}

/* line 165, ../sass/style.scss */
.bg-base00 {
  background-color: #292325;
  color: #ad9fa3;
}

/* line 166, ../sass/style.scss */
.bg-base01 {
  background-color: #453b3e;
  color: #c4babd;
}

/* line 167, ../sass/style.scss */
.bg-base02 {
  background-color: #7a6c70;
  color: white;
}

/* line 168, ../sass/style.scss */
.bg-base03 {
  background-color: #86797d;
  color: black;
}

/* line 169, ../sass/style.scss */
.bg-base04 {
  background-color: #9b9295;
  color: #181617;
}

/* line 170, ../sass/style.scss */
.bg-base05 {
  background-color: #aba0a4;
  color: #292425;
}

/* line 171, ../sass/style.scss */
.bg-base06 {
  background-color: #ede3e6;
  color: #7d5460;
}

/* line 172, ../sass/style.scss */
.bg-base07 {
  background-color: #fef5f8;
  color: #b80a3e;
}

/* line 173, ../sass/style.scss */
.bg-base08 {
  background-color: #c65375;
  color: #13060a;
}

/* line 174, ../sass/style.scss */
.bg-base09 {
  background-color: #b07c40;
  color: #1a1209;
}

/* line 175, ../sass/style.scss */
.bg-base0a {
  background-color: #b9aa46;
  color: #25220e;
}

/* line 176, ../sass/style.scss */
.bg-base0b {
  background-color: #439037;
  color: black;
}

/* line 177, ../sass/style.scss */
.bg-base0c {
  background-color: #32856c;
  color: black;
}

/* line 178, ../sass/style.scss */
.bg-base0d {
  background-color: #3f6fa6;
  color: #edf2f8;
}

/* line 179, ../sass/style.scss */
.bg-base0e {
  background-color: #5c59a6;
  color: #dedeed;
}

/* line 180, ../sass/style.scss */
.bg-base0f {
  background-color: #b34d9e;
  color: white;
}

/* line 182, ../sass/style.scss */
.bg-dark01 {
  background-color: #1a1919;
  color: #9c9698;
}

/* line 183, ../sass/style.scss */
.bg-dark02 {
  background-color: #262626;
  color: #8c8c8c;
}

/* line 184, ../sass/style.scss */
.bg-dark03 {
  background-color: #403f3f;
  color: #c0bfbf;
}

/* line 185, ../sass/style.scss */
.bg-dark04 {
  background-color: #4d4d4d;
  color: #cccccc;
}

/* line 186, ../sass/style.scss */
.bg-dark05 {
  background-color: #595959;
  color: #d9d9d9;
}

/* line 187, ../sass/style.scss */
.bg-dark06 {
  background-color: #666666;
  color: #e6e6e6;
}

/* line 188, ../sass/style.scss */
.bg-dark07 {
  background-color: #737373;
  color: white;
}

/* line 189, ../sass/style.scss */
.bg-dark08 {
  background-color: gray;
  color: black;
}

/* line 191, ../sass/style.scss */
.bg-light01 {
  background-color: #e6e6e6;
  color: #666666;
}

/* line 192, ../sass/style.scss */
.bg-light02 {
  background-color: #d9d9d9;
  color: #595959;
}

/* line 193, ../sass/style.scss */
.bg-light03 {
  background-color: #cccccc;
  color: #4d4d4d;
}

/* line 194, ../sass/style.scss */
.bg-light04 {
  background-color: #bfbfbf;
  color: #404040;
}

/* line 195, ../sass/style.scss */
.bg-light05 {
  background-color: #b3b3b3;
  color: #333333;
}

/* line 196, ../sass/style.scss */
.bg-light06 {
  background-color: #a6a6a6;
  color: #262626;
}

/* line 197, ../sass/style.scss */
.bg-light07 {
  background-color: #999999;
  color: #1a1a1a;
}

/* line 198, ../sass/style.scss */
.bg-light08 {
  background-color: #8c8c8c;
  color: #262626;
}

/* line 200, ../sass/style.scss */
.bg-yellow {
  background-color: #b9aa46;
  color: #25220e;
}

/* line 201, ../sass/style.scss */
.bg-yellow-orange {
  background-color: #b59343;
  color: #201a0c;
}

/* line 202, ../sass/style.scss */
.bg-orange {
  background-color: #b07c40;
  color: #1a1209;
}

/* line 203, ../sass/style.scss */
.bg-orange-red {
  background-color: #bb685b;
  color: #100807;
}

/* line 204, ../sass/style.scss */
.bg-red {
  background-color: #c65375;
  color: #13060a;
}

/* line 205, ../sass/style.scss */
.bg-red-magenta {
  background-color: #bd508a;
  color: #0a0407;
}

/* line 206, ../sass/style.scss */
.bg-magenta {
  background-color: #b34d9e;
  color: white;
}

/* line 207, ../sass/style.scss */
.bg-magenta-violet {
  background-color: #8853a2;
  color: #fbf8fc;
}

/* line 208, ../sass/style.scss */
.bg-violet {
  background-color: #5c59a6;
  color: #dedeed;
}

/* line 209, ../sass/style.scss */
.bg-violet-blue {
  background-color: #4e64a6;
  color: #f8f9fb;
}

/* line 210, ../sass/style.scss */
.bg-blue {
  background-color: #3f6fa6;
  color: #edf2f8;
}

/* line 211, ../sass/style.scss */
.bg-blue-cyan {
  background-color: #397a89;
  color: #f8fbfc;
}

/* line 212, ../sass/style.scss */
.bg-cyan {
  background-color: #32856c;
  color: black;
}

/* line 213, ../sass/style.scss */
.bg-cyan-green {
  background-color: #3b8b52;
  color: black;
}

/* line 214, ../sass/style.scss */
.bg-green {
  background-color: #439037;
  color: black;
}

/* line 215, ../sass/style.scss */
.bg-green-yellow {
  background-color: #7e9d3f;
  color: #090b05;
}

/* line 217, ../sass/style.scss */
.bg-dark_yellow {
  background-color: #5c5523;
  color: #dcd4a3;
}

/* line 218, ../sass/style.scss */
.bg-dark_yellow-orange {
  background-color: #5f4d23;
  color: #ddcca4;
}

/* line 219, ../sass/style.scss */
.bg-dark_orange {
  background-color: #5e4222;
  color: #ddc1a1;
}

/* line 220, ../sass/style.scss */
.bg-dark_orange-red {
  background-color: #753a31;
  color: #e5c5c0;
}

/* line 221, ../sass/style.scss */
.bg-dark_red {
  background-color: #7e2a43;
  color: #e9becb;
}

/* line 222, ../sass/style.scss */
.bg-dark_red-magenta {
  background-color: #6e2a4e;
  color: #e3b4cd;
}

/* line 223, ../sass/style.scss */
.bg-dark_magenta {
  background-color: #602955;
  color: #dcadd2;
}

/* line 224, ../sass/style.scss */
.bg-dark_magenta-violet {
  background-color: #3e264a;
  color: #c0a1cf;
}

/* line 225, ../sass/style.scss */
.bg-dark_violet {
  background-color: #282749;
  color: #a4a2cd;
}

/* line 226, ../sass/style.scss */
.bg-dark_violet-blue {
  background-color: #1a2137;
  color: #8898c7;
}

/* line 227, ../sass/style.scss */
.bg-dark_blue {
  background-color: #152537;
  color: #7ea3ce;
}

/* line 228, ../sass/style.scss */
.bg-dark_blue-cyan {
  background-color: #12272b;
  color: #52a4b7;
}

/* line 229, ../sass/style.scss */
.bg-dark_cyan {
  background-color: #0f2921;
  color: #4aba99;
}

/* line 230, ../sass/style.scss */
.bg-dark_cyan-green {
  background-color: #132e1b;
  color: #56b772;
}

/* line 231, ../sass/style.scss */
.bg-dark_green {
  background-color: #183414;
  color: #63be55;
}

/* line 232, ../sass/style.scss */
.bg-dark_green-yellow {
  background-color: #35421a;
  color: #a4c267;
}

/* line 234, ../sass/style.scss */
.bg-light_yellow {
  background-color: #e3ddb5;
  color: #4a441c;
}

/* line 235, ../sass/style.scss */
.bg-light_yellow-orange {
  background-color: #e2d2af;
  color: #6b5627;
}

/* line 236, ../sass/style.scss */
.bg-light_orange {
  background-color: #e0c6a9;
  color: #654724;
}

/* line 237, ../sass/style.scss */
.bg-light_orange-red {
  background-color: #e0b3ae;
  color: #672e28;
}

/* line 238, ../sass/style.scss */
.bg-light_red {
  background-color: #df9fb3;
  color: #602033;
}

/* line 239, ../sass/style.scss */
.bg-light_red-magenta {
  background-color: #d89abc;
  color: #53203c;
}

/* line 240, ../sass/style.scss */
.bg-light_magenta {
  background-color: #d194c5;
  color: #471f3f;
}

/* line 241, ../sass/style.scss */
.bg-light_magenta-violet {
  background-color: #a787bf;
  color: #25192e;
}

/* line 242, ../sass/style.scss */
.bg-light_violet {
  background-color: #7c7ab8;
  color: #121221;
}

/* line 243, ../sass/style.scss */
.bg-light_violet-blue {
  background-color: #7d8fc3;
  color: #151b2c;
}

/* line 244, ../sass/style.scss */
.bg-light_blue {
  background-color: #7ea3ce;
  color: #152537;
}

/* line 245, ../sass/style.scss */
.bg-light_blue-cyan {
  background-color: #6db2b9;
  color: #1d3a3d;
}

/* line 246, ../sass/style.scss */
.bg-light_cyan {
  background-color: #5cc1a3;
  color: #163b30;
}

/* line 247, ../sass/style.scss */
.bg-light_cyan-green {
  background-color: #68c385;
  color: #1b4428;
}

/* line 248, ../sass/style.scss */
.bg-light_green {
  background-color: #74c567;
  color: #20461b;
}

/* line 249, ../sass/style.scss */
.bg-light_green-yellow {
  background-color: #afc979;
  color: #445422;
}

/* line 252, ../sass/style.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* line 259, ../sass/style.scss */
html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fef5f8;
}

/* line 264, ../sass/style.scss */
html,
body {
  height: 100%;
}

/* line 268, ../sass/style.scss */
body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  background: inherit;
  color: #111;
  min-height: 100%;
  box-sizing: border-box;
}

/* line 276, ../sass/style.scss */
h1, h2, h3 {
  margin: 0;
  padding: 1rem 0 0;
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

/* line 281, ../sass/style.scss */
h3 {
  color: #7a6c70;
}

/* line 285, ../sass/style.scss */
.container {
  max-width: 100%;
}

/* line 288, ../sass/style.scss */
.header,
.footer {
  padding: .5em 0;
  background: #397a89;
  color: #fef5f8;
  width: 100%;
  text-align: center;
  text-shadow: #326a77 1px 1px 1px;
}

/* line 299, ../sass/style.scss */
.header {
  border-bottom: 2px solid #326a77;
  letter-spacing: 1px;
  word-spacing: -1px;
}

/* line 304, ../sass/style.scss */
.footer {
  border-top: 2px solid #326a77;
  padding-bottom: 2em;
  letter-spacing: 1px;
}

/* line 309, ../sass/style.scss */
.header a,
.footer a {
  color: #ece7c6;
  text-decoration: none;
}

/* line 314, ../sass/style.scss */
.header a:hover,
.footer a:hover {
  color: #f4f0d7;
}

/* line 318, ../sass/style.scss */
.header h1 .small {
  color: #ede3e6;
}

/* line 321, ../sass/style.scss */
.demo-tiles {
  overflow: hidden;
}

/* line 324, ../sass/style.scss */
.wrap {
  margin-top: 1em;
  padding: 0 2em;
}

/* line 328, ../sass/style.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 333, ../sass/style.scss */
.cf:after,
.clear {
  clear: both;
}

/* line 337, ../sass/style.scss */
.unit {
  float: left;
  width: 25%;
  padding: 4em 0;
  text-align: center;
}

/* line 343, ../sass/style.scss */
h1 {
  font-size: 2.5rem;
}

/* line 346, ../sass/style.scss */
h2 {
  font-size: 2.25rem;
}

/* line 349, ../sass/style.scss */
h3 {
  font-size: 2rem;
  margin: 1em 0 0 .35em;
}

/* line 353, ../sass/style.scss */
.block-list {
  margin-bottom: 1em;
}

/* line 356, ../sass/style.scss */
.block-list li {
  list-style: none;
  padding: .5em 1em;
}

@media (min-width: 750px) {
  /* line 361, ../sass/style.scss */
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }

  /* line 365, ../sass/style.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 368, ../sass/style.scss */
  h2 {
    font-size: 2.5rem;
  }

  /* line 371, ../sass/style.scss */
  h3 {
    font-size: 2.25rem;
  }

  /* line 374, ../sass/style.scss */
  p {
    font-size: 1.25em;
  }
}
